@charset "utf-8";

p,ol,ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 150%;
	margin-top: 0px;
	margin-bottom: 5px;
}
form {
	margin: 0px;
}
table a {
	text-decoration: none;
}
table a:link ,a:visited{
	color: #AE0000;
}

table a:hover {
	text-decoration:underline;
}
.dataDiv {
	margin: 5px;
	float: left;
}

.title {
	color:	#222222;
	font-size:18px;
	font-weight:bold;
	border-bottom:2.5px solid #FFBB00;
	padding:3px 8px;
	margin-bottom:3%;
}
h1 {
	
	display:block;
	padding:6px 8px;
	background-color: #EEEEEE;
	color:	#328686;
	font-size:16px;
	font-weight:bold;
	border-left:5px solid #328686;

}

.smalltext {
	font-size: 11px;
	color: #999999;
	font-family: Georgia, "Times New Roman", Times, serif;
	vertical-align: baseline;
}
.trademark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0099FF;
}
.categorybox {
	border: 1px solid #656565;
	padding: 15px;
	background-color: #F0F0F0;
}

.clear {
	clear: both;
}
.logintextbox {
	width: 150px;
}
.infoDiv {
	font-family: "微軟正黑體";
	font-size: 12pt;
	color: #990000;
	background-color: #FF9999;
	padding: 4px;
	text-align: center;
	font-weight: bold;
}
.errDiv {
	color:	red;
	padding:3px;
	border:0.5px solid red;
	font-size:14px;

	text-align: center;
}
.actionDiv {
	float: right;
	margin-top: -30px;
	font-size: 11pt;
	font-family: "微軟正黑體";
}
.actionDiv a:hover {
	
	
}

.albumDiv {
	float: left;
	height: 200px;
	width: 150px;
	text-align: center;
	margin-right: 22px;
	margin-bottom: 5px;
}
.albumDiv .albuminfo {
	font-family: "微軟正黑體";
	font-size: 11pt;
}
.navDiv {
	clear: both;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 9pt;
	padding: 5px;
}
.titleDiv {
	margin: 5px;
	font-family: "微軟正黑體";
	font-size: 15pt;
	font-weight: bold;
	color: #0066CC;
}
.normalDiv {
	margin: 5px;
}
.subjectDiv {
	font-family: "微軟正黑體";
	font-size: 14pt;
	font-weight: bold;
	color: #996600;
	padding: 5px;
	clear: both;
	border-bottom:0.5px solid #999999;
	margin-bottom: 10px;
}
.photoDiv {
	text-align: center;
	padding: 10px;
}
.clear {
	clear: both;
}
.redword {
	color:#FF0000;
}
.categorybox ul {
	list-style-type:none;
	margin-left:-20px; 
}

.categorybox li a:hover {
	background-color:#dddddd;
	color:#007979;
}
div.box-large{
	width:60%;
	margin: auto;
	padding:1%;
}
input[type=button]:hover, input[type=submit]:hover,input[type=reset]:hover{
	background-color: #FFD306;
}
input[type=button], input[type=submit],input[type=reset]{
	background-color: #FFBB00;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-around;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  font-family:微軟正黑體;
}
input[type=text]{
	
	padding:5px 5px;
}
table{
	margin:auto;
	 border-collapse: collapse;
	 width:100%;
	 
}
th{
	color:#328686;
	font-weight:bold;
}
table th,td{
	 border:0.5px solid #BBBBBB;
	 	padding:3px 8px;
}
.table-product{
		background-color:#E9E9E2;
		text-align:center;
}
.btnrow{
	text-align:center;
}
table.table-list th ,table.table-list td{
	 border:0.5px solid #BBBBBB;
	 text-align:center;
	 padding:5px;
}
span.notice{
	color:red;
}